USE [master]
GO
/****** Object:  Database [GameStore2]    Script Date: 3/16/2025 8:46:10 PM ******/
CREATE DATABASE [GameStore2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GameStore2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GameStore2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GameStore2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GameStore2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GameStore2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GameStore2]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/16/2025 8:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CID] [nvarchar](50) NOT NULL,
	[categoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryConnect]    Script Date: 3/16/2025 8:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryConnect](
	[GID] [nvarchar](50) NOT NULL,
	[CID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CategoryConnect] PRIMARY KEY CLUSTERED 
(
	[GID] ASC,
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 3/16/2025 8:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[username] [nvarchar](50) NOT NULL,
	[GID] [nvarchar](50) NOT NULL,
	[feedback] [nvarchar](1000) NOT NULL,
	[rate] [int] NOT NULL,
	[status] [varchar](10) NOT NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[username] ASC,
	[GID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 3/16/2025 8:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[GID] [nvarchar](50) NOT NULL,
	[gameName] [nvarchar](50) NOT NULL,
	[price] [bigint] NOT NULL,
	[picture] [nvarchar](max) NOT NULL,
	[date] [datetime] NOT NULL,
	[updateDate] [datetime] NULL,
	[description] [nvarchar](max) NOT NULL,
	[configuration] [nvarchar](max) NOT NULL,
	[sellerName] [nvarchar](50) NOT NULL,
	[status] [varchar](10) NOT NULL,
	[downloadFile] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Game] PRIMARY KEY CLUSTERED 
(
	[GID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MoneyHistory]    Script Date: 3/16/2025 8:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MoneyHistory](
	[MID] [nvarchar](50) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[money] [bigint] NOT NULL,
	[date] [datetime] NOT NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_MoneyHistory] PRIMARY KEY CLUSTERED 
(
	[MID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MoneyManagement]    Script Date: 3/16/2025 8:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MoneyManagement](
	[ODID] [nvarchar](50) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[admin] [nvarchar](50) NOT NULL,
	[sellerMoney] [bigint] NOT NULL,
	[admoney] [bigint] NOT NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK_MoneyManagement] PRIMARY KEY CLUSTERED 
(
	[ODID] ASC,
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/16/2025 8:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OID] [nvarchar](50) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[total] [bigint] NOT NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 3/16/2025 8:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[ODID] [nvarchar](50) NOT NULL,
	[OID] [nvarchar](50) NOT NULL,
	[GID] [nvarchar](50) NOT NULL,
	[price] [bigint] NOT NULL,
 CONSTRAINT [PK_OrderDetail_1] PRIMARY KEY CLUSTERED 
(
	[ODID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profile]    Script Date: 3/16/2025 8:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profile](
	[username] [nvarchar](50) NOT NULL,
	[password] [varchar](32) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[fullname] [nvarchar](100) NULL,
	[gender] [nvarchar](6) NULL,
	[birthday] [datetime] NULL,
	[money] [bigint] NOT NULL,
	[type] [varchar](10) NOT NULL,
	[status] [varchar](10) NOT NULL,
	[Date] [datetime] NOT NULL,
	[token] [nvarchar](50) NULL,
 CONSTRAINT [PK_Profile] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingCart]    Script Date: 3/16/2025 8:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCart](
	[username] [nvarchar](50) NOT NULL,
	[GID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ShoppingCart] PRIMARY KEY CLUSTERED 
(
	[username] ASC,
	[GID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 3/16/2025 8:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlist](
	[GID] [nvarchar](50) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Wishlist] PRIMARY KEY CLUSTERED 
(
	[GID] ASC,
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([CID], [categoryName]) VALUES (N'ARPG', N'Action Role-Playing Game')
INSERT [dbo].[Category] ([CID], [categoryName]) VALUES (N'FPS', N'First-Person Shooter')
INSERT [dbo].[Category] ([CID], [categoryName]) VALUES (N'MMOFPS', N'Massively Multiplayer Online First-Person Shooter')
GO
INSERT [dbo].[CategoryConnect] ([GID], [CID]) VALUES (N'Albedo d16032025200743', N'ARPG')
INSERT [dbo].[CategoryConnect] ([GID], [CID]) VALUES (N'Albedo d16032025200743', N'MMOFPS')
INSERT [dbo].[CategoryConnect] ([GID], [CID]) VALUES (N'Albedo f16032025200802', N'ARPG')
GO
INSERT [dbo].[Game] ([GID], [gameName], [price], [picture], [date], [updateDate], [description], [configuration], [sellerName], [status], [downloadFile]) VALUES (N'Albedo d16032025200743', N'dsfaasdfadsfasd', 123, N'capsule_616x353.jpg', CAST(N'2025-03-16T20:07:43.000' AS DateTime), CAST(N'2025-03-16T20:08:50.840' AS DateTime), N'sadfdsafdsfsaf', N'adfdafsdasf', N'Albedo', N'1', N'Cảm âm sáo.rar')
INSERT [dbo].[Game] ([GID], [gameName], [price], [picture], [date], [updateDate], [description], [configuration], [sellerName], [status], [downloadFile]) VALUES (N'Albedo f16032025200802', N'fsadfsdfasdf', 654, N'Anthem.jpg', CAST(N'2025-03-16T20:08:02.000' AS DateTime), CAST(N'2025-03-16T20:42:08.943' AS DateTime), N'sadfasdfadsf', N'asdfadsfadsfsdf', N'Albedo', N'2', N'Cảm âm sáo.rar')
INSERT [dbo].[Game] ([GID], [gameName], [price], [picture], [date], [updateDate], [description], [configuration], [sellerName], [status], [downloadFile]) VALUES (N'Albedo s16032025200726', N'sadfasdfsdf', 432, N'capsule_616x353 (1).jpg', CAST(N'2025-03-16T20:07:26.000' AS DateTime), CAST(N'2025-03-16T20:09:03.853' AS DateTime), N'fdasdfasdf', N'adfdfsdfdsdfasf', N'Albedo', N'1', N'Cảm âm sáo.rar')
GO
INSERT [dbo].[MoneyHistory] ([MID], [username], [money], [date], [status]) VALUES (N'Albedo0112/03/2025 13:04:27', N'Albedo01', 50000, CAST(N'2025-12-03T13:04:27.000' AS DateTime), N'done')
INSERT [dbo].[MoneyHistory] ([MID], [username], [money], [date], [status]) VALUES (N'Albedo11/03/2025 21:30:49', N'Albedo', 10000, CAST(N'2025-11-03T21:30:49.000' AS DateTime), N'done')
INSERT [dbo].[MoneyHistory] ([MID], [username], [money], [date], [status]) VALUES (N'Albedo12/03/2025 10:23:26', N'Albedo', 100000, CAST(N'2025-12-03T10:23:26.000' AS DateTime), N'waiting')
GO
INSERT [dbo].[MoneyManagement] ([ODID], [username], [admin], [sellerMoney], [admoney], [date]) VALUES (N'Albedodsfaasdfadsfasd123', N'Albedo', N'user01', 110, 13, CAST(N'2025-03-15T20:14:26.690' AS DateTime))
INSERT [dbo].[MoneyManagement] ([ODID], [username], [admin], [sellerMoney], [admoney], [date]) VALUES (N'Albedofsadfsdfasdf654', N'Albedo', N'user01', 588, 66, CAST(N'2025-03-14T20:14:26.723' AS DateTime))
INSERT [dbo].[MoneyManagement] ([ODID], [username], [admin], [sellerMoney], [admoney], [date]) VALUES (N'Shallteardsfaasdfadsfasd123', N'Albedo', N'user01', 110, 13, CAST(N'2025-03-16T20:15:48.897' AS DateTime))
GO
INSERT [dbo].[Order] ([OID], [username], [total], [date]) VALUES (N'Albedo16/03/2025 20:14:26', N'Albedo', 777, CAST(N'2025-03-16T20:14:26.657' AS DateTime))
INSERT [dbo].[Order] ([OID], [username], [total], [date]) VALUES (N'Shalltear16/03/2025 20:15:28', N'Shalltear', 432, CAST(N'2025-03-16T20:15:28.720' AS DateTime))
INSERT [dbo].[Order] ([OID], [username], [total], [date]) VALUES (N'Shalltear16/03/2025 20:15:48', N'Shalltear', 777, CAST(N'2025-03-16T20:15:48.893' AS DateTime))
GO
INSERT [dbo].[OrderDetail] ([ODID], [OID], [GID], [price]) VALUES (N'Albedodsfaasdfadsfasd123', N'Albedo16/03/2025 20:14:26', N'Albedo d16032025200743', 123)
INSERT [dbo].[OrderDetail] ([ODID], [OID], [GID], [price]) VALUES (N'Albedofsadfsdfasdf654', N'Albedo16/03/2025 20:14:26', N'Albedo f16032025200802', 654)
INSERT [dbo].[OrderDetail] ([ODID], [OID], [GID], [price]) VALUES (N'Shallteardsfaasdfadsfasd123', N'Shalltear16/03/2025 20:15:48', N'Albedo d16032025200743', 123)
GO
INSERT [dbo].[Profile] ([username], [password], [email], [fullname], [gender], [birthday], [money], [type], [status], [Date], [token]) VALUES (N'Albedo', N'd3eb9a9233e52948740d7eb8c3062d14', N'N/A', N'Nguyen Dep Trai', N'Male', CAST(N'2099-10-03T00:00:00.000' AS DateTime), 3540598, N'2', N'1', CAST(N'9999-09-09T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Profile] ([username], [password], [email], [fullname], [gender], [birthday], [money], [type], [status], [Date], [token]) VALUES (N'Albedo01', N'4297f44b13955235245b2497399d7a93', N'n/a', NULL, N'', CAST(N'1900-01-01T00:00:00.000' AS DateTime), 50000, N'2', N'1', CAST(N'2025-03-12T13:03:46.560' AS DateTime), NULL)
INSERT [dbo].[Profile] ([username], [password], [email], [fullname], [gender], [birthday], [money], [type], [status], [Date], [token]) VALUES (N'Albedo03', N'4297f44b13955235245b2497399d7a93', N'n/a', NULL, N'', CAST(N'1900-01-01T00:00:00.000' AS DateTime), 0, N'1', N'1', CAST(N'2025-03-12T13:07:53.520' AS DateTime), NULL)
GO
ALTER TABLE [dbo].[Profile] ADD  CONSTRAINT [DF_Profile_money]  DEFAULT ((0)) FOR [money]
GO
ALTER TABLE [dbo].[CategoryConnect]  WITH CHECK ADD  CONSTRAINT [FK_CategoryConnect_Category] FOREIGN KEY([CID])
REFERENCES [dbo].[Category] ([CID])
GO
ALTER TABLE [dbo].[CategoryConnect] CHECK CONSTRAINT [FK_CategoryConnect_Category]
GO
ALTER TABLE [dbo].[CategoryConnect]  WITH CHECK ADD  CONSTRAINT [FK_CategoryConnect_Game] FOREIGN KEY([GID])
REFERENCES [dbo].[Game] ([GID])
GO
ALTER TABLE [dbo].[CategoryConnect] CHECK CONSTRAINT [FK_CategoryConnect_Game]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Game] FOREIGN KEY([GID])
REFERENCES [dbo].[Game] ([GID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Game]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Profile] FOREIGN KEY([username])
REFERENCES [dbo].[Profile] ([username])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Profile]
GO
ALTER TABLE [dbo].[MoneyHistory]  WITH CHECK ADD  CONSTRAINT [FK_MoneyHistory_Profile] FOREIGN KEY([username])
REFERENCES [dbo].[Profile] ([username])
GO
ALTER TABLE [dbo].[MoneyHistory] CHECK CONSTRAINT [FK_MoneyHistory_Profile]
GO
ALTER TABLE [dbo].[MoneyManagement]  WITH CHECK ADD  CONSTRAINT [FK_MoneyManagement_OrderDetail] FOREIGN KEY([ODID])
REFERENCES [dbo].[OrderDetail] ([ODID])
GO
ALTER TABLE [dbo].[MoneyManagement] CHECK CONSTRAINT [FK_MoneyManagement_OrderDetail]
GO
ALTER TABLE [dbo].[MoneyManagement]  WITH CHECK ADD  CONSTRAINT [FK_MoneyManagement_Profile] FOREIGN KEY([username])
REFERENCES [dbo].[Profile] ([username])
GO
ALTER TABLE [dbo].[MoneyManagement] CHECK CONSTRAINT [FK_MoneyManagement_Profile]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Profile] FOREIGN KEY([username])
REFERENCES [dbo].[Profile] ([username])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Profile]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Game] FOREIGN KEY([GID])
REFERENCES [dbo].[Game] ([GID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Game]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OID])
REFERENCES [dbo].[Order] ([OID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[ShoppingCart]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingCart_Game] FOREIGN KEY([GID])
REFERENCES [dbo].[Game] ([GID])
GO
ALTER TABLE [dbo].[ShoppingCart] CHECK CONSTRAINT [FK_ShoppingCart_Game]
GO
ALTER TABLE [dbo].[ShoppingCart]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingCart_Profile] FOREIGN KEY([username])
REFERENCES [dbo].[Profile] ([username])
GO
ALTER TABLE [dbo].[ShoppingCart] CHECK CONSTRAINT [FK_ShoppingCart_Profile]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_Game] FOREIGN KEY([GID])
REFERENCES [dbo].[Game] ([GID])
GO
ALTER TABLE [dbo].[Wishlist] CHECK CONSTRAINT [FK_Wishlist_Game]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_Profile] FOREIGN KEY([username])
REFERENCES [dbo].[Profile] ([username])
GO
ALTER TABLE [dbo].[Wishlist] CHECK CONSTRAINT [FK_Wishlist_Profile]
GO
USE [master]
GO


IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.COLUMNS 
               WHERE TABLE_NAME = 'Game' AND COLUMN_NAME = 'YoutubeLink')
BEGIN
    ALTER TABLE [dbo].[Game] ADD [YoutubeLink] [nvarchar](max) NULL;
END
