@{
    ViewData["Title"] = "ContactView";
    Layout = "_NoFootLayout";
}
<br>
<br>
<br>
<br>
<br>
<br>
<div style="padding-bottom: 10px; text-align: center;" class="social">
    <div class="container">
        <h3 class="stroke-text">Contact To <strong>Wong's Store</strong></h3>
        <div class="social-icons">
            <div class="social-icon">
                <a style="text-decoration: none;" href="https://discord.gg/EE5zsGFKdv">
                    <i style="font-size: 1000%;" class="fab fa-discord"></i>
                    <br>
                    <span>Discord</span>
                </a>
            </div>
            <br>
            <div class="social-icon">
                <a style="text-decoration: none;" href="https://www.youtube.com/watch?v=nDUQ-MvnO6s">
                    <i style="font-size: 1000%;" class="fab fa-youtube"></i>
                    <br>
                    <span>Youtube</span>
                </a>
            </div>
            <br>
            <div class="social-icon">
                <a style="text-decoration: none;" href="https://www.facebook.com/wongstore.ga/" target="_blank">
                    <i style="font-size: 1000%;" class="fab fa-facebook"></i>
                    <br>
                    <span>Facebook</span>
                </a>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>