@{
    ViewData["Title"] = "HelpView";
}
<br>
<br>
<br>
<h3 style="color: white;">Login</h3>
<br>
<img src="/upload/hinhanh/0.0.jpg">
<br>
<h3 style="color: white;">Register</h3>
<br>
<img src="/upload/hinhanh/0.jpg">
<br>
<h3 style="color: white;">Forgot Password</h3>
<br>
<img src="/upload/hinhanh/0.1.jpg">
<br>
<h3 style="color: white;">Game Information page</h3>
<br>
<img src="/upload/hinhanh/1.jpg">
<br>
<h3>Rating</h3>
<br>
<img src="/upload/hinhanh/2.jpg">
<br>
<h3>Shopping Cart</h3>
<br>
<img src="/upload/hinhanh/3.jpg">
<br>
<h3>Wishlist</h3>
<br>
<img src="/upload/hinhanh/4.jpg">
<br>
<h3>Library</h3>
<br>
<img src="/upload/hinhanh/5.jpg">
<br>
<h3>Account</h3>
<br>
<img src="/upload/hinhanh/6.jpg">
<br>
<h3>Funds</h3>
<br>
<img src="/upload/hinhanh/7.jpg">
<br>
<br>
<img src="/upload/hinhanh/8.jpg">
<br>
<br>
<img src="/upload/hinhanh/9.jpg">